<table>
  <thead>
    <tr>
      <th>Team ID</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.teamId }}</td>
      <td *ngFor="let user of team.users">{{ "Username: " + user.username }}
      <tr *ngFor="let user of team.users">
      <td>{{ "Email: " + user.email }}
      
      <tr *ngFor="let book of user.books">{{ "Boek: " + book.book}}
      <td *ngFor="let book of user.books">{{ "Auteur: " + book.author}}</td>
    </tr>
  </tbody>
</table>
